@use 'reset' as *;
@use 'variables/global.scss' as *;
@use 'themes/dark.scss' as *;
@use 'themes/normal.scss' as *;
.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}